.eo-rounded-xs {
  border-radius: var(--eo-border-radius-xs);
}

.eo-rounded-sm {
  border-radius: var(--eo-border-radius-sm);
}

.eo-rounded-md {
  border-radius: var(--eo-border-radius-md);
}

.eo-rounded-lg {
  border-radius: var(--eo-border-radius-lg);
}

.eo-rounded-xl {
  border-radius: var(--eo-border-radius-xl);
}

.eo-rounded-2xl {
  border-radius: var(--eo-border-radius-2xl);
}

.eo-rounded-3xl {
  border-radius: var(--eo-border-radius-3xl);
}
