.button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}

.button:disabled {
  background-color: #ccc;
}

.button .primary {
  background-color: #b41e1e;
}
